build-Calculate-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-Course38-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-Course39-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-Llayout-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-NotePad-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-QDialoggTest-Desktop_Qt_5_11_1_MinGW_32bit-Debug

